header {    
    background-color: #000000; 
    color: white; 
    align-items: center;
    display: flex;
    padding: 15px;
    border-radius: 15px;
    height: 50px;
    gap: 60%;
    margin-bottom: 5%;
}

header h1 {
    font-family: sans-serif;
    font-size: 40px; 
    font-weight: bold; 
    color: #ffffff;
    
}

nav ul {
    list-style-type: none;  
    overflow: hidden; 
    background-color: #ffffff00; 
    justify-content: center;
    gap: 30px;
    display: flex;
}
   
nav ul li {
    font-family: sans-serif;
    font-size: 30px; 
    font-weight: bold;
}

nav a {  
    color: rgb(255, 255, 255);  
    text-decoration: none;   
    display: inline-block;  
}

#hero {
    background-image: url('../images/mountain.jpg');  
    background-size: cover;  
    background-position: center;
    padding: 20px;  
    height: 250px;
    margin-bottom: 5%;
}










.about_me {
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 3%;
    
}

.about_content {
    font-family: sans-serif;
    background-color: #ffffff; 
    padding: 20px; 
    display: flex;
    gap: 15px;
}

.about_content  p {
    text-align: left;
    font-size: 25px;
    line-height: 1.6;
    color: #333333;
}

#my_image {
    padding: 1px;
    flex: 1 1 60%;
    height: 300px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #000000;

}   

#my_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}









#services {
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}
#allservices {
    font-family: sans-serif;
    background-color: #ffffff; 
    padding: 20px; 
    display: flex;
    gap: 15px;
}

.service {
    font-family: sans-serif;
    background-color: #ffffff;
    padding: 20px;
    flex: 1 1 250px;
    border: 1px solid gray;
    border-radius: 5px;
}

.service img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}



#contact{
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 3%;
}

form {
    max-width:50%;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    
}

form label {
    display:flex;
    font-weight: bold;
}

form input,
form textarea {
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    box-sizing: border-box;
}

form textarea {
    height: 150px;
}


#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}


form button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    height: 50px;
    margin-bottom: 5px;
}

.social-media  i{
    font-size: 30px;
    margin: 10px;
    color: rgb(0, 0, 0);
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
}